﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Brands</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav" style="display: flex; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                    <span class="material-icons" aria-hidden="true" style="padding-right: 2rem">settings</span>
                    Administration
                </div>
                <span class="material-icons">@arrow</span>
            </NavLink>

            @if (expandSubNav)
            {
                <NavLink class="nav-link" href="#users" style="margin-left: 2rem;">Users</NavLink>
                <NavLink class="nav-link" href="#branches" style="margin-left: 2rem;">Branches</NavLink>
                <NavLink class="nav-link" href="#business_types" style="margin-left: 2rem;">Business Types</NavLink>
                <NavLink class="nav-link" href="brands" style="margin-left: 2rem;">Brands</NavLink>
                <NavLink class="nav-link" href="#categories" style="margin-left: 2rem;">Categories</NavLink>
                <NavLink class="nav-link" href="#banks" style="margin-left: 2rem;">Banks</NavLink>
                <NavLink class="nav-link" href="#unit_of_measures" style="margin-left: 2rem;">Unit of Measures</NavLink>
                <NavLink class="nav-link" href="#tax_table" style="margin-left: 2rem;">Tax Table</NavLink>
                <NavLink class="nav-link" href="#company_info" style="margin-left: 2rem;">Company Info</NavLink>

                arrow = "keyboard_arrow_down";
            }
            else
            {
                arrow = "keyboard_arrow_right";
            }

        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

@code {

    private bool expandSubNav;
    public string arrow;

}